*{
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.bg-jumbotron{
    background-color: #f1c40f !important;
}

.img-size{
    height: 300px;
    width: 225px !important;
    margin: 0% auto;
    padding-left: 5%;
    padding-right: 5%;
}
.card{
    background-color:rgba(0, 0, 0, 0);
}

.score-text{
    font-weight: 900;
    color: #f1c40f;
}
.title-text{
    font-weight: 600;
}

@media only screen and (max-width:768px){
    .img-size{
        width: 250px !important;
        
    }
    .card{
        margin:0 auto;
    }
}